# Compiled files
*.class

# Simulation report files
*reports*/*.txt

# Javadocs
*.html
doc/stylesheet.css
doc/resources/*.gif
doc/package-list

# Eclipse IDE files
.classpath
.project
/target/
.settings/org.eclipse.*
/bin/

# gtfs
toolkit/gtfs/lib/__pycache__/
toolkit/gtfs/lib/gtfs/__pycache__/
toolkit/gtfs/venv/

